* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header .branding {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.text-align-center {
  text-align: center;
}

body {
  font-size: 16px;
  line-height: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: midnightblue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman";
  color: steelblue;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.dark p {
  color: #999999;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #999999;
}

a,
.link {
  color: dodgerblue;
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: underline;
  color: #0077ea;
}

a:active,
.link:active {
  text-decoration: underline;
  color: #005db7;
}

.dark a, .dark
.link {
  color: white;
  text-decoration: none;
}

.dark a:hover, .dark
.link:hover {
  text-decoration: underline;
  color: #e6e6e6;
}

.dark a:active, .dark
.link:active {
  text-decoration: underline;
  color: #cccccc;
}

.section {
  padding: 30px;
}

.section.dark {
  background: #333;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  height: 50px;
  font-family: inherit;
}

.primary-block-0 {
  background: black;
}

.primary-block-1 {
  background: #1a1a1a;
}

.primary-block-2 {
  background: #333333;
}

.primary-block-3 {
  background: #4d4d4d;
}

.primary-block-4 {
  background: #666666;
}

.primary-block-5 {
  background: gray;
}

.primary-block-6 {
  background: #999999;
}

.primary-block-7 {
  background: #b3b3b3;
}

.primary-block-8 {
  background: #cccccc;
}

.primary-block-9 {
  background: #e6e6e6;
}

.header {
  background: lightblue;
}

.header .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header .branding {
  margin-right: 20px;
  font-family: Georgia, "Times New Roman";
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 575px) {
  .menu {
    display: none;
  }
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

@media (max-width: 767px) {
  .block.hide-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .block.hide-md {
    display: none;
  }
}

@media (min-width: 992px) {
  .block.hide-lg {
    display: none;
  }
}
