// Colors
$header-color: steelblue;
$paragraph-color: midnightblue;
$primary-color: black;
$panel-color: lightblue;
$link-color: dodgerblue;

// Typography
$body-font-size: 16px;
$h1-font-size: 28px;
$body-line-height: 1.6em;
$paragraph-font: Arial, Helvetica, sans-serif;
$header-font: Georgia, 'Times New Roman';

//Sizes
$section-padding: 30px;
$container-max-width: 1140px;

// Breakpoints
$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
)