.block {

  &.hide-sm {
    
    @include mq-until(md) {
      display: none;
    }
  }

  &.hide-md {
    
    @include mq-between(md, lg) {
      display: none;
    }
  }

  &.hide-lg {
    
    @include mq-from(lg) {
      display: none;
    }
  }
}